#singlepage
  .register-form
    %h2
      %strong Create an Account
      %small
        or
        = link_to 'Login Now', new_user_session_path
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :method => 'post', :html => {:class => "sign-up"}) do |f|
      %fieldset
        %label
          %span Email
          = f.error_notification
          = f.input  :email, :required => false, :autofocus => true, :label => false
        %label
          %span Password
          = f.input  :password, :required => false, :label => false
          %small Set a password to create an account if you don’t have one.
        %big
          = f.button :submit, 'Submit'

  .register-txt
    %big
      Register your Facility today and
      %strong receive 50%
      off your first referral!
    %p Don’t be left out of the internet’s top senior living listing website.
    %p Facility full? Create an Account to start building your waitlist.
    %p Super Low $980 Referral Fee.